<div class="container" >
    <div class="row">
        <div class="col-md-12" style="height: 250px;">
            <div style='position: relative;height: 150px;'>
                <img id='sun' src='img/sun.png' style='height: 150px;position: absolute;'>
                <img src='img/cloud.png' style='height: 150px;position: absolute;'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-9 col-md-3">

        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <h3></h3>
        </div>
        <div class='col-md-3'>

        </div>
        <div class='col-md-3'>

        </div>
        <div class='col-md-3'>

        </div>
    </div>
</div>