<div class="container" >
    <div class="row">
        <div class="col-md-12" style="height: 120px;">
            <div style='position: relative;'>
                <img id='sun' src='img/sun.png' style='height: 150px;position: absolute;'>
                <div style='position: absolute;'>
                    <img class='cloudRaw' src='img/cloud.png' style='height: 150px;position: absolute;'>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style='position: absolute;'>
                <img class='cloudRaw' src='img/cloud.png' style='height: 150px;position: absolute; -webkit-transform: translateX(50px);'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-9 col-md-3">

        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <h3></h3>
        </div>
        <div class='col-md-3'>

        </div>
        <div class='col-md-3'>

        </div>
        <div class='col-md-3'>

        </div>
    </div>
</div>